.create-counter-wrapper
.view-counters-wrapper
	width 80%
	margin 0 10%
	text-align center
.creation
	input[type='text']
		border-radius 0
		margin 20px 0
.links-to-count
	input[type='text']
		display inline-block !important
		width 70%
.row.table-header
	text-align center
.view-counters-header
	th
		text-align center
.sub-items
	td
		text-align center
.like-item-wrapper
.dislike-item-wrapper
	h2
		margin 20px
	div
		margin 20px
.sub-counters
	input
		width 70%
		display inline-block
.links-to-count
	clear both
.like-comments
	text-align center
	